<?xml version='1.0' encoding='utf-8'?>
<model>
    <name>Gazebo_World_Meter</name>
    <author>summeratsummer</author>
    <version>1.0.0</version>
    <sdf version="1.7">Gazebo_World_Meter.sdf</sdf>
    <description>Gazebo small maze world - stl file - to run the robot</description>
</model>